<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Details</title>
    <style>
      
        label{
            font-weight: bold;
            text-align: left;
        }
       
    </style>
</head>
<body>
    <h1>user Details</h1>
    <form  class="editform" action="/" method="get">
        
        <label>User Name:</label> "<%=usersList.userName%>"<br>
        <label>Father’s Name:</label> "<%=usersList.fatherName%>"<br>
        <label>DOB:</label> "<%=usersList.dob%>"<br>
        <label>Address:</label> "<%=usersList.address%>"<br>
        <label>City:</label> "<%=usersList.city%>"<br>
        <label>State:</label> "<%=usersList.state%>"<br>
        <label>Pin:</label> "<%=usersList.pin%>">"<br>
        <label>Phone No:</label> "<%=usersList.phoneNo%>"<br>
        <label>Email:</label> "<%=usersList.email%>"<br>
        <label>User Name:</label> "<%=usersList.userName%>"<br>
        <button type="close" name="button">CLOSE</button>
       </form> 
       
</body>
</html>